.header_page {
    width: 100%;
    height: 120px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header_page-collection {
    gap: 20px;
    display: flex;
}

.header_page-collection-item {
    width: 233px;
    height: 50px;
    background-color: transparent;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_page-collection-item p {
    color: #5a5a5a;
    font-size: 16px;
}

.header_page-collection-item-svg {
    width: 50px;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.header_page-logo {
    height: 58px;
    flex: 1;
}

.header_page-btn_container {
    background-color: transparent;
    display: flex;
    gap: 30px;
}

.header_page-btn_container button {
    height: 50px;
    padding: 15px;
    font-size: 26px;
    background-color: #fff;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    gap: 10px;
    cursor: pointer;
}

.header_page-btn_container button>a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header_page-btn_container button p {
    font-size: 13px;
}

.header_page-btn_container button img {
    border-radius: 50%;
}