.partners_page {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.partners_page h1 {
    font-size: 40px;
    color: #0D4C93;
    font-weight: 470;
}

.partners_page_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    position: relative;
    background-color: transparent;

}


.partners_page_box {
    width: 275px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbdbdb;
    border-radius: 35px;
    margin: auto;
    background-color: #fff;
    transition: all .3s ease;
    cursor: pointer;
}

.partners_page_box:hover {
    transform: scale(1.03);
    transition: all .3s ease;
}

.partner_page-right {
    width: 50px;
    height: 50px;
    background: var(--bg-blue);
    background: var(--bg-blue-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    right: -40px;
    color: #fff;
    cursor: pointer;
    top: 40%;
}

.partner_page-left {
    width: 50px;
    height: 50px;
    background: var(--bg-blue);
    background: var(--bg-blue-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    left: -40px;
    color: #fff;
    cursor: pointer;
    top: 40%;

}

@media screen and (max-width:1200px) {
    .partners_page_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width:900px) {
    .partners_page_container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }


}

@media screen and (max-width:600px) {
    .partners_page_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .partner_page-right {
        display: none;
    }

    .partner_page-left {
        display: none;
    }
}