.navbar {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}

.nav_container-links {
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.nav_container-links-item {
    width: calc(100%/6);
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #dbdbdb;
    font-size: 17px;
    color: #0D4C93;
    cursor: pointer;
    transition: all .3s ease;
}


.nav_container-links-item:hover {
    color: #00C9C9;
    transition: all .3s ease;
}

.nav_container-links-item:first-child {
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}

.nav_container-links-item:last-child {
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    border: none;
}