.product_container {
    width: 100%;
    padding-bottom: 40px;
    height: auto;
    margin: 70px 0 70px 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.product_container>h3 {
    font-size: 40px;
    color: #0D4C93;
    font-weight: 400;
}

.product_container-collection {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    padding-bottom: 100px;
}

.product_page-box {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 50px;
    position: relative;
    background: rgb(248, 248, 248);
    background: linear-gradient(349deg, rgba(248, 248, 248, 0.439) 0%, rgba(248, 248, 248, 1) 100%);
    cursor: pointer;
    transition: .3s;
    padding: 20px;
}

.product_page-box:hover {
    transform: scale(1.05);
    transition: .3s;
}

.product_page-box p {
    font-size: 27px;
    color: #000;
    text-align: center;
}


.product_page-box button {
    width: 270px;
    height: 70px;
    background: rgb(13, 76, 147);
    background: linear-gradient(131deg, rgba(13, 76, 147, 1) 14%, rgba(0, 201, 201, 1) 89%);
    font-size: 23px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 35px;
    bottom: -30px;
    cursor: pointer;
    position: absolute;
}

.product_page-link {
    font-size: 28px;
    color: #0D4C93;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: .3s;
}

.product_page-link:hover {
    transition: .3s;
    color: #00C9C9;
}