.about_page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    gap: 50px;
    padding-bottom: 100px;
}

.about_page>h1 {
    font-size: 40px;
    font-weight: 450;
}

.about_page_container {
    width: 100%;
    border-radius: 35px;
    background: var(--white-bg);
    background: var(--white-bg-lg);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_page_img {
    width: 50%;
    height: 500px;
    background-color: #fff;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_page_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about_page_text p {
    width: 90%;
    font-size: 20px;
    font-weight: 350;
}

.about_page_text button {
    width: 270px;
    height: 60px;
    border-radius: 35px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    background: var(--bg-blue);
    background: var(--bg-blue-lg);
}

@media screen and (max-width:1200px) {
    .about_page_container {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 10px;
    }

    .about_page_text {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .about_page_img {
        width: 50%;
        height: auto;
        background-color: #fff;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about_page_img img {
        width: 100%;
        height: auto;
    }

    .about_page_text p {
        width: 100%;
        font-size: 20px;
        font-weight: 350;
        text-align: center;
        word-wrap: break-word;
    }

    .about_page_text button {
        width: 100%;
    }
}